<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="/webjars/todomvc-common/base.css"/>
    <link rel="stylesheet" href="/webjars/todomvc-app-css/index.css"/>
</head>
<body hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'>
<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input
                id="new-todo-input"
                class="new-todo"
                placeholder="What needs to be done?"
                autofocus
                name="title"
                hx-post="/todo"
                hx-target="#todo-list-element"
                hx-swap="afterbegin"
                hx-trigger="keyup[key=='Enter']"
        >
    </header>
    <!-- This section should be hidden by default and shown when there
    are todos -->

    <section id="main-section" class="main">
        <input id="toggle-all" class="toggle-all" type="checkbox"
               hx-put="/todo/toggle-all"
               hx-trigger="click"
               hx-swap="outerHTML"
               hx-target="#todo-list-element">
        <label for="toggle-all">Mark all as complete</label>
        {#fragment id = todoListItems}
        <ul class="todo-list" id="todo-list-element">
            {#for item in todos}
            {#include TodoItemController/fragments$todoItem item = item /}
            {/for}
        </ul>
        {/fragment}
    </section>
    <!-- This footer should be hidden by default and shown when there
    are todos -->
    <footer id="main-footer" class="footer">
        <!-- This should be `0 items left` by default -->
        {#include TodoItemController/fragments$activeItemCount /}
        <ul class="filters">
            <li>
                {#if filter == ListFilter:ALL}
                <a href="/todo/" class="selected">All</a>
                {#else}
                <a href="/todo/">All</a>
                {/if}
            </li>
            <li>
                {#if filter == ListFilter:ACTIVE}
                <a href="/todo/active" class="selected">Active</a>
                {#else}
                <a href="/todo/active">Active</a>
                {/if}
            </li>
            <li>
                {#if filter == ListFilter:COMPLETED}
                <a href="/todo/completed" class="selected">Completed</a>
                {#else}
                <a href="/todo/completed">Completed</a>
                {/if}
            </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        {#if numberOfCompletedItems > 0}
        <button class="clear-completed"
                hx-delete="/todo/completed"
                hx-target="#todo-list-element"
                hx-trigger="click"
                hx-swap="outerHTML"
        >Clear completed
        </button>
        {/if}
    </footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre
            Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ -->
<script src="/webjars/todomvc-common/base.js"></script>
<script src="/webjars/htmx.org/dist/htmx.min.js"></script>
<script>
  htmx.on('#new-todo-input', 'htmx:afterRequest', function (evt) {
    evt.detail.elt.value = '';
  });
</script>

</body>
</html>