<div id="archive-ui" hx-target="this" hx-swap="outerHTML" class="h-8 w-80">
    {#if status.name.equals('RUNNING')}
        <div hx-get="/contacts/archives/{archiveId}/info" hx-trigger="load delay:500ms">
            <div id="progress-container" class="progress-container">
                <div id="progress-bar" class="progress-bar"
                     aria-valuenow="{progress}"
                     style="width:{progress}%"></div>
            </div>
        </div>
    {/if}

    {#if status.name.equals('COMPLETE')}
        <div>
          <div class="text-sm">The archive is ready.</div>
          <a href="/contacts/archives/{archiveId}"
             class="text-indigo-400 hover:text-indigo-900 flex gap-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Download</a>
        </div>
    {/if}
    {#if status.name.equals('FAILED')}
        <div>Failed!</div>
    {/if}
</div>